/*.no_padding{*/
/*padding: 0;*/
/*}*/
.blogs {
    height: 350px;
    overflow-y: scroll;
}
.users {
    min-height: 383px;
}
.roles_chart .charts-chart {
    height: 250px;
}
.main_chart .charts {
    height: 350px;
}
.main_chart .charts-chart {
    height: 350px;
}
.map .charts-chart {
    height: 350px;
}
.profile img {
    margin: auto 0;
    width: 100px;
    padding: 5px;
    background-color: #fff;
}
.profile h4 {
    margin-top: 50px;
}
.profile_header {
    height: 70px;
    background: rgba(255, 22, 22, 0.49);
    padding-top: 15px;
}

.square_box .number {
    color: #656262;
}
.blogs .media {
    border-bottom: 1px solid #e4e4e4;
}
#defs g:first-child text {
    display: none;
}
.content {
    padding-left: 15px;
    padding-right: 15px;
}
#visitors_chart {
    height: 250px;
}
#bar_chart {
    height: 250px;
}

.media {
    padding: 15px 15px 0 15px;
    margin-top: 0;
}
.media img {
    width: 45px;
    height: 45px;
}
.media:last-child {
    padding-bottom: 15px;
}
.user_create_date {
    color: #9c9b9b;
}
.highcharts-title,
.highcharts-legend-item {
    display: none;
}
.widget-1 {
    background-color: #fff;
    height: 90px;
    margin: 20px 0;
}
.widget-1 .squarebox {
    top: 15%;
    position: relative;
    transform: translateY(-50%);
}
.widget_circle1 {
    border: 1px solid #e9573f;
    padding: 10px 12px;
    border-radius: 50%;
}
.widget_circle2 {
    border: 1px solid #418bca;
    padding: 10px 12px;
    border-radius: 50%;
}
.widget_circle3 {
    border: 1px solid #01bc8c;
    padding: 10px 12px;
    border-radius: 50%;
}
.widget_circle4 {
    border: 1px solid #f89a14;
    padding: 10px 12px;
    border-radius: 50%;
}
.header_info {
    font-size: 12px;
    color: #504f4f;
}
.panel-border .card-heading {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    width: 100%;
    display: inline-block;
}
.card-title {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
