@import url(https://fonts.googleapis.com/css?family=Lato);

body {
    background: #212121;
    position: relative;
    display: block;
    font-family: 'lato';
}

#container_demo {
    text-align: left;
    margin: 0;
    padding: 0;
    margin: 0 auto;
}

a.hiddenanchor {
    display: none;
}

/** The wrapper that will contain our two forms **/
#wrapper {
    width: 100%;
    right: 0px;
    min-height: 560px;
    margin: 0px auto;
}

/**** Styling the form elements **/

/**** general text styling ****/
.social_login a {
    text-decoration: none;
    color: #fff;
}
#wrapper h3 {
    font-size: 30px;
    padding: 0px 0 10px 0;
    text-align: center;
    /** For the moment only webkit supports the background-clip:text; */
    -webkit-background-clip: text;
}

#wrapper h3:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 0px;
}

#wrapper p {
    margin-bottom: 15px;
}

#wrapper p:first-child {
    margin: 0px;
}

#wrapper label {
    color: rgb(64, 92, 96);
    position: relative;
}

/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder {
    color: rgb(190, 188, 188);
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: rgb(190, 188, 188);
}

input {
    outline: none;
}

/* all the input except submit and checkbox */
#wrapper input:not([type='checkbox']) {
    width: 86%;
    margin-top: 4px;
    padding: 9px 6px 9px 34px;
    border: 1px solid rgb(178, 178, 178);
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#wrapper input:not([type='checkbox']):active,
#wrapper input:not([type='checkbox']):focus {
    border: 1px solid #3d8b3d;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
    outline-color: #3d8b3d;
}

/** the magic icon trick ! **/
[data-icon]:after {
    content: attr(data-icon);
    font-family: 'FontomasCustomRegular';
    color: #3c8dbc;
    position: absolute;
    left: 10px;
    top: 35px;
    width: 30px;
}

/*styling both submit buttons */

p.login.button,
p.signin.button {
    text-align: center;
    margin: 5px 0;
}

/* styling the checkbox "keep me logged in"*/
.keeplogin {
    margin-top: -5px;
}

.keeplogin input,
.keeplogin label {
    display: inline-block;
    font-size: 12px;
}

.keeplogin label {
    width: 80%;
}

/*styling the links to change from one form to another */
/** Styling both forms **/
#register,
#login,
#forgot {
    position: absolute;
    top: 0px;
    width: 90%;
    padding: 18px 6% 20px 6%;
    margin: 0 0 35px 0;
    padding-top: 0px;
    margin-top: 0px;
    background: rgb(247, 247, 247);
    border: 1px solid rgba(147, 184, 189, 0.8);
    -webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7),
        0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7),
        0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    -webkit-box-shadow: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#forgot {
    z-index: 20;
    opacity: 0;
}

#register {
    z-index: 21;
    opacity: 0;
}

#login {
    z-index: 22;
}

#toregister:target ~ #wrapper #register,
#tologin:target ~ #wrapper #login,
#toforgot:target ~ #wrapper #forgot {
    z-index: 22;
    -webkit-animation-delay: 0.6s;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-delay: 0.6s;
    -moz-animation-timing-function: ease-in;
    -o-animation-delay: 0.6s;
    -o-animation-timing-function: ease-in;
    -ms-animation-delay: 0.6s;
    -ms-animation-timing-function: ease-in;
    animation-delay: 0.6s;
    animation-timing-function: ease-in;
    -webkit-animation-name: scaleIn;
    -moz-animation-name: scaleIn;
    -ms-animation-name: scaleIn;
    -o-animation-name: scaleIn;
    animation-name: scaleIn;
}

#toregister:target ~ #wrapper #login,
#tologin:target ~ #wrapper #register,
#toforgot:target ~ #wrapper #login {
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-name: scaleOut;
    -moz-animation-name: scaleOut;
    -ms-animation-name: scaleOut;
    -o-animation-name: scaleOut;
    animation-name: scaleOut;
}

/** the actual animation, credit where due : http://daneden.me/animate/ ***/
.animate {
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 0.5s;
    -moz-animation-fill-mode: both;
    -o-animation-duration: 0.5s;
    -o-animation-fill-mode: both;
    -ms-animation-duration: 0.5s;
    -ms-animation-fill-mode: both;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@-webkit-keyframes scaleOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }
}

@-moz-keyframes scaleOut {
    0% {
        opacity: 1;
        -moz-transform: scale(1);
    }
    100% {
        opacity: 0;
        -moz-transform: scale(0.5);
    }
}

@-ms-keyframes scaleOut {
    0% {
        opacity: 1;
        -ms-transform: scale(1);
    }
    100% {
        opacity: 0;
        -ms-transform: scale(0.5);
    }
}

@-o-keyframes scaleOut {
    0% {
        opacity: 1;
        -o-transform: scale(1);
    }
    100% {
        opacity: 0;
        -o-transform: scale(0.5);
    }
}

@keyframes scaleOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

.scaleOut {
    -webkit-animation-name: scaleOut;
    -moz-animation-name: scaleOut;
    -ms-animation-name: scaleOut;
    -o-animation-name: scaleOut;
    animation-name: scaleOut;
}

@-webkit-keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes scaleIn {
    0% {
        opacity: 0;
        -moz-transform: scale(0.5);
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1);
    }
}

@-ms-keyframes scaleIn {
    0% {
        opacity: 0;
        -ms-transform: scale(0.5);
    }
    100% {
        opacity: 1;
        -ms-transform: scale(1);
    }
}

@-o-keyframes scaleIn {
    0% {
        opacity: 0;
        -o-transform: scale(0.5);
    }
    100% {
        opacity: 1;
        -o-transform: scale(1);
    }
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.scaleIn {
    -webkit-animation-name: scaleIn;
    -moz-animation-name: scaleIn;
    -ms-animation-name: scaleIn;
    -o-animation-name: scaleIn;
    animation-name: scaleIn;
}

/** yerk some ugly IE fixes 'cause I know someone will ask "why does it look ugly in IE?", no matter how many warnings I will put in the article */

.lt8 #wrapper input {
    padding: 10px 5px 10px 32px;
    width: 92%;
}

.lt8 #wrapper input[type='checkbox'] {
    width: 10px;
    padding: 0;
}

.lt8 #wrapper h1 {
    color: #066a75;
}

.lt8 #register {
    display: none;
}

.lt8 p.change_link,
.ie9 p.change_link {
    position: absolute;
    height: 90px;
    background: transparent;
}

.livicon {
    content: attr(data-icon);
    font-family: 'FontomasCustomRegular';
    color: #3c8dbc;
    position: absolute;
    left: 8px;
    top: 41px;
    width: 30px;
}

.vertical-offset-100 {
    padding-top: 80px;
}

.black_bg {
    background: #515763 !important;
    color: #dfdfdf;
    padding-top: 10px !important;
}

.button input {
    font-size: 18px;
    padding-left: 0px;
}

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
    border-color: #3d8b3d;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;
}

.btn-success {
    background: #01bc8c;
}
.btn-warning:hover {
    color: #fff;
    background-color: #ec971f !important;
    border-color: #d58512;
}
.btn-warning {
    background: #f89a14;
}
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show > .btn-warning.dropdown-toggle {
    color: #fff !important;
}
.alert-success {
    color: #fff;
    background-color: #22ddad !important;
    border-color: #acf6ac !important;
}
.alert-danger {
    color: #fff;
    background-color: #ff908d !important;
    border-color: #ef6f6c !important;
}
.alert-info {
    color: #fff;
    background-color: #67c5df !important;
    border-color: #67c5df !important;
}
.alert-warning {
    color: #fff;
    background-color: #f89a14 !important;
    border-color: #f89a14 !important;
}
span.help-block {
    color: #a94442 !important;
}
label {
    font-size: 14px;
}
input::-webkit-input-placeholder {
    font-size: 14px !important;
}
@media (min-width: 320px) and (max-width: 374px) {
    .g-recaptcha {
        transform: scale(0.83);
        -webkit-transform: scale(0.83);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}
@media (min-width: 374px) and (max-width: 425px) {
    .g-recaptcha {
        transform: scale(1.08);
        -webkit-transform: scale(1.08);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    .g-recaptcha {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .g-recaptcha {
        transform: scale(0.84);
        -webkit-transform: scale(0.84);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}

.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
    background-image: none;
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
    color: #fff;
    background-color: #30487b;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.btn {
    margin-bottom: 10px;
}
.btn-google-plus {
    color: #fff;
    background-color: #ef6f6c;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-google-plus:hover {
    color: #fff;
}
.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-linkedin {
    color: #fff;
    background-color: #007bb6;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-linkedin:hover {
    color: #fff;
}
.btn-facebook {
    color: #fff;
    background-color: #418bca;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-google-plus {
    color: #fff;
    background-color: #ef6f6c;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-linkedin {
    color: #fff;
    background-color: #007bb6;
    border-color: rgba(0, 0, 0, 0.2);
}
