@import url(https://fonts.googleapis.com/css?family=Open+Sans:600, 400);

html {
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('../../images/bgpage.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    padding-top: 10%;
    color: var(--white);
}
a {
    color: var(--red);
}
.box {
    background: rgba(0,0,0,0.7);
    border: 1px solid #000000;
    width: 400px;
    text-align: center;
    padding: 10px 20px;
    border-top: 5px solid #cc0000;
    margin: auto;
}
.box img {
    margin: 5px auto;
}
.box h3 {
    margin-top: 3px;
}

input {
    border-radius: 0 !important;
}
input[type='submit'] {
    margin-bottom: 10px;
    border: none;
}

.animation {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotateX(-10deg);
    }
    70% {
        -webkit-transform: perspective(400px) rotateX(10deg);
    }
    100% {
        -webkit-transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
}
@keyframes flipInX {
    0% {
        transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotateX(-10deg);
    }
    70% {
        transform: perspective(400px) rotateX(10deg);
    }
    100% {
        transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
}
.flipInX {
    -webkit-backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    backface-visibility: visible !important;
    animation-name: flipInX;
}
.alert-success {
    color: #fff;
    background-color: #22ddad !important;
    border-color: #acf6ac !important;
}
.alert-danger {
    color: #fff;
    background-color: #ff908d !important;
    border-color: #ef6f6c !important;
}
.help-block {
    color: #ef6f6c !important;
    float: left;
}
.mt-15 {
    margin-top: 15px;
}
@media (min-width: 320px) and (max-width: 425px) {
    .box {
        width: 100% !important;
    }
}

.font_size {
    font-size: 14px;
}
.form-control {
    font-size: 14px;
}

.help-block {
    color: #a94442 !important;
}

.has-error .form-control {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.btn.form-control:focus {
    color: #fff;
}
.help-block {
    font-size: 12px;
}
.bv-form .help-block {
    margin-bottom: 10px;
}
