@import url(https://fonts.googleapis.com/css?family=Open+Sans:600, 400);

html {
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    background: url('../../images/bgpage.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: var(--white);
}
a {
    color: var(--red);
}

.box {
    background: rgba(0,0,0,0.7);
    border: 1px solid #000000;
    text-align: center;
    width: 340px;
    padding: 20px 20px;
    border-top: 5px solid #cc0000;
    margin: auto;
}
.box img {
    margin: auto;
}
.box h3 {
    margin-top: 0;
}
input {
    border-radius: 0 !important;
}
input[type='submit'] {
    margin-bottom: 10px;
    border: none;
}
.bg-light {
    background: #ddd;
    width: 400px;
    text-align: center;
    margin: auto;
    padding-top: 8px;
    padding-bottom: 8px;
}
.checkbox label {
    padding-left: 0;
}

.animation {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotateX(-10deg);
    }
    70% {
        -webkit-transform: perspective(400px) rotateX(10deg);
    }
    100% {
        -webkit-transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
}
@keyframes flipInX {
    0% {
        transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotateX(-10deg);
    }
    70% {
        transform: perspective(400px) rotateX(10deg);
    }
    100% {
        transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
}
.flipInX {
    -webkit-backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    backface-visibility: visible !important;
    animation-name: flipInX;
}
.help-block {
    float: left;
}
.bv-form .help-block {
    margin-bottom: 10px;
}
span.help-block {
    color: #a94442 !important;
}
/*@media (min-width:320px) and (max-width:425px){*/
/*.box{*/
/*width:100% !important;*/
/*}*/
/*}*/

.font_size {
    font-size: 14px;
}
.form-control {
    font-size: 14px;
}

.help-block {
    color: #a94442 !important;
}

.has-error .form-control {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
@media (min-width: 320px) and (max-width: 374px) {
    .g-recaptcha {
        transform: scale(0.97);
        -webkit-transform: scale(0.97);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}
.br-0 {
    border-radius: 0;
}
.help-block {
    font-size: 12px;
}
